/*
Box
Border
Background
Text
Others
*/

html, body
    height 100%


h1, h2
    display block
    width 100%
    font-size 48px
    text-align center
    font-family: 'Roboto', sans-serif
    padding-top 50px;
   

